:root {
  --cl-light: #ffffff;
  --cl-dark: #171717;

  --cl-gray-l: #f9fafb;
  --cl-gray-m: #d2d6db;
  --cl-gray-d: #525252;

  --cl-primary-l: #f0fdf4;
  --cl-primary-m: #bbf7d0;
  --cl-primary-d: #15803d;

  --cl-secondary-l: #e8e9fc;
  --cl-secondary-m: #4338ca;
  --cl-secondary-d: #3730a3;

  --fsize-s: clamp(0.875rem, 1.125vw, 1rem);
  --fsize-m: clamp(1rem, 1.25vw, 1.2rem);
  --fsize-l: clamp(1.125rem, 1.5vw, 1.5rem);

  --width: clamp(340px, 40vw, 800px);
  --height: clamp(288px, 30vh, 400px);
}

* {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: var(--fsize-m);
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, var(--cl-gray-l), var(--cl-gray-m));
  padding: 7.5rem 0;
}
